@model ClientWeb.Models.StudentJSON
@{
    ViewData["Title"] = "Личный кабинет";
}

@section Header {
    <div class="header_section">
        <div class="header_logo">
            <img src="~/img/vstu-logo.svg" alt="">
        </div>
        <div class="header_title">
            <div class="header_divider"> </div>
            <div class="header_portal_title">
                <p>ОБРАЗОВАТЕЛЬНЫЙ ПОРТАЛ ВОРОНЕЖСКОГО ГОСУДАРСТВЕННОГО ТЕХНИЧЕСКОГО УНИВЕРСИТЕТА</p>
            </div>
        </div>
    </div>
    <div class="header_section">
        <div class="header_account">
            <img src="~/img/account.svg" alt="">
        </div>
    </div>
}

@section nav {
    <nav>
        <div class="navbar_section">
            <div class="navbar_buttons">
                <a href="#">Расписание</a>
                <div class="navbar_button_divider"></div>
                <a asp-action="RecordBook" asp-controller="Home">Зачетная книжка</a>
                <div class="navbar_button_divider"></div>
                <a href="#">Учебные планы</a>
                <div class="navbar_button_divider"></div>
                <a href="#">Моя группа</a>
                <div class="navbar_button_divider"></div>
                <a href="#">Расписание</a>
                <div class="navbar_button_divider"></div>
                <a asp-action="Student" asp-controller="Home">Профиль</a>
                <div class="navbar_button_divider"></div>
                <a asp-action="Orders" asp-controller="Home">Приказы</a>
            </div>
            <div class="navbar_buttons">
                <a href="#">Помощь</a>
                <div class="navbar_button_divider"></div>
                <a href="#">Настройки</a>
                <div class="navbar_button_divider"></div>
                <a asp-action="Logout" asp-controller="Account">Выйти</a>
            </div>
        </div>
    </nav>
}
<div class="container h-100 w-100">
    <div class="row m-0">
        <div class="col-4">
            <div class="p-3 h-100 align-self-stretch"
                style="background-color: #263145; border-radius: 10px;">
                <div class="row justify-content-center m-0 mb-3">
                    <a class="btn text-white" style="background-color: #3B4762;">Навигация</a>
                </div>
                <div class="navigation_divider"></div>
                <div class="row justify-content-center m-0 mb-3">
                    <a asp-action="Student" asp-controller="Home" class="btn text-white"
                        style="background-color: #3B4762;">На главную страницу</a>
                </div>
                <div class="row justify-content-center m-0 mb-3">
                    <a asp-action="GetDocument" asp-controller="Home" class="btn text-white"
                        style="background-color: #3B4762;">Получить отчет</a>
                </div>
            </div>
        </div>
        <div class="col-8" style="border-radius: 10px;">
            <div class="p-4" style="background-color: #263145; border-radius: 10px;">
                <div class="row fs-4 mb-4 text-white"> <p>Информация о студенте:</p> </div>
                <div class="row gx-0 fs-4 mb-4 text-white">
                    <div class="col-2 p-2 d-flex justify-content-center"
                        style="background-color: #3B4762; border-radius: 10px 0 0 10px; ">
                        <img src="~/img/account.svg" alt="">
                    </div>
                    <div class="col-10 d-flex align-items-center"
                        style="background-color: #3B4762; border-radius: 0 10px 10px 0;">
                        <p>@Model.LastName @Model.FirstName @Model.Patronomic @Model.Group</p>
                    </div>
                </div>
                <div class="row gx-4 mb-3 text-white">
                    <div class="col-4">
                        <input class="form-control border-0 text-white text-center"
                            style="background-color: #3B4762;" type="text" readonly
                            value="@Model.Gradebook" />
                        <label class="form-label d-flex justify-content-center"
                            style="font-size: 14px;">Номер зачетной книжки</label>
                    </div>
                    <div class="col-4">
                        <input class="form-control border-0 text-white text-center"
                            style="background-color: #3B4762;" type="text" readonly
                            value="@Model.Faculty" />
                        <label class="form-label d-flex justify-content-center"
                            style="font-size: 14px;">Факультет</label>
                    </div>
                    <div class="col-4">
                        <input class="form-control border-0 text-white text-center"
                            style="background-color: #3B4762;" type="text" readonly
                            value="@Model.Course" />
                        <label class="form-label d-flex justify-content-center"
                            style="font-size: 14px;">Курс</label>
                    </div>
                </div>
                <div class="row gx-4 mb-3 text-white">
                    <div class="col-6">
                        <input class="form-control border-0 text-white text-center"
                            style="background-color: #3B4762;" type="text" readonly
                            value="@Model.Speciality" />
                        <label class="form-label d-flex justify-content-center"
                            style="font-size: 14px;">Направление подготовки/Специальность</label>
                    </div>
                    <div class="col-6">
                        <input class="form-control border-0 text-white text-center"
                            style="background-color: #3B4762;" type="text" readonly
                            value="@Model.Specialization" />
                        <label class="form-label d-flex justify-content-center"
                            style="font-size: 14px;">Профиль/Специализация</label>
                    </div>
                </div>
                <div class="row gx-4 mb-3 text-white">
                    <div class="col-4">
                        <input class="form-control border-0 text-white text-center"
                            style="background-color: #3B4762;" type="text" readonly
                            value="@Model.TrainingLevel" />
                        <label class="form-label d-flex justify-content-center"
                            style="font-size: 14px;">Уровень образования</label>
                    </div>
                    <div class="col-4">
                        <input class="form-control border-0 text-white text-center"
                            style="background-color: #3B4762;" type="text" readonly
                            value="@Model.TuitionType" />
                        <label class="form-label d-flex justify-content-center"
                            style="font-size: 14px;">Основание обучения</label>
                    </div>
                    <div class="col-4">
                        <input class="form-control border-0 text-white text-center"
                            style="background-color: #3B4762;" type="text" readonly
                            value="@Model.FormEducation" />
                        <label class="form-label d-flex justify-content-center"
                            style="font-size: 14px;">Форма обучения</label>
                    </div>
                </div>
                <div class="row gx-4 mb-3 text-white">
                    <div class="col-6">
                        <input class="form-control border-0 text-white text-center"
                            style="background-color: #3B4762;" type="text" readonly
                            value="@Model.StudentCondition" />
                        <label class="form-label d-flex justify-content-center"
                            style="font-size: 14px;">Статус студента</label>
                    </div>
                    <div class="col-6">
                        <input class="form-control border-0 text-white text-center"
                            style="background-color: #3B4762;" type="text" readonly
                            value="@Model.IdStudent" />
                        <label class="form-label d-flex justify-content-center"
                            style="font-size: 14px;">Уникальный идентификатор студента</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>