@model ClientWeb.Models.User

@{
    ViewData["Title"] = "Удаление пользователя";
}

@section Header {
    <nav class="navbar">
        <a class="navbar-brand" href="#">
            <img src="~/vstu-logo.svg" width="52" height="72">
        </a>
        <a class="navbar-account" asp-controller="Home" asp-action="Admin">
            Личный кабинет
        </a>
        <a class="navbar-account" asp-controller="Users" asp-action="Index">
            Все пользователи
        </a>
    </nav>
}

<h2>Удаление пользователя</h2>

<h3>Вы уверены, что хотите удалить этого пользователя?</h3>
<div>
    <h4>User</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Login)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Login)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Password)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Password)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Role)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Role)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="IdUser" />
        <input type="submit" value="Удалить" class="btn btn-danger" /> |
        <a asp-action="Index">Вернуться к списку пользователей</a>
    </form>
</div>
