@page "/StudentInfo/{urlGuid}"

@*@if (Student != null)
{
    <table class = "discipline">
    <tbody>
    @foreach(var item in Student)
    {
        foreach (var subitem in item)
        {
            <tr>
                <td>@subitem.Key </td>
                <td>@subitem.Value</td>
            </tr>
        }
    }
    </tbody>
    </table>
}*@

<link href="/css/StudentStyle.css" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap" rel="stylesheet">
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css'>
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css'>
<div class="student-profile py-4">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="card shadow-sm">
          @if (Student != null)
            {
          <div class="card-header bg-transparent text-center">
           @* <img class="profile_img" src="https://source.unsplash.com/600x300/?student" alt="student dp">*@
                <h3>@Student[0]["ФИО"]</h3>
          </div>
          <div class="card-body">
            <p class="mb-0"><strong class="pr-1">Код:</strong>@Student[0]["Код"]</p>
            <p class="mb-0"><strong class="pr-1">Группа:</strong>@Student[0]["Группа"]</p>
            <p class="mb-0"><strong class="pr-1">Курс:</strong>@Student[0]["Курс"]</p>
            <p class="mb-0"><strong class="pr-1">Подготовка:</strong>@Student[0]["Подготовка"]</p>
            <p class="mb-0"><strong class="pr-1">Факультет:</strong>@Student[0]["Факультет"]</p>
          </div>
          }
        </div>
      </div>
      <div class="col-lg-8">
        <div class="card shadow-sm">
          <div class="card-header bg-transparent border-0">
            <h3 class="mb-0"><i class="far fa-clone pr-1"></i>Дисциплины</h3>
          </div>
          <div class="card-body pt-0">
            <table>
                            @if (Discipline != null) {
                                @for (int i = 0; i < Discipline.Count - 1; i++)
                                {
                                    <h5 class="header">Период контроля: @Discipline[i]["Период_контроля"]</h5>
                                    <table class="table table-bordered">
                                        <tr>
                                            <td width="20%">Дисциплина: @Discipline[i]["Дисциплина"]</td>
                                            <td width="20%">Вид контроля: @Discipline[i]["Вид_контроля"]</td>
                                            <td width="20%">Дата занятия: @Discipline[i]["Дата_занятия"]</td>
                                            <td width="20%">Время начала: @Discipline[i]["Время_начала"]</td>
                                            <td width="15%">Оценка: @Discipline[i]["Оценка"]</td>
                                            <td width="20%">Преподаватель: @Discipline[i]["Преподаватель"]</td>
                                        </tr>
                                    </table>
                                }
                            }
                            else{
                                <h5>Доступные дисциплины отсутствуют</h5>
                            }
           </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



@inject Blazored.SessionStorage.ISessionStorageService sessionStorage

@code {
    [Parameter] public string? urlGuid { get; set; }

    public List<Dictionary<System.String, System.Object>>? Student { get; set; }
    public List<Dictionary<System.String, System.Object>>? Discipline { get; set; }
    [Parameter] public List<Dictionary<System.String, System.Object>>[]? DataPackage { get; set; }

    protected override async Task<List<Dictionary<System.String, System.Object>>[]> OnParametersSetAsync()
    {
        DataPackage = await sessionStorage.GetItemAsync<List<Dictionary<System.String, System.Object>>[]>("DataPackage");
        this.Student = DataPackage![0];
        this.Discipline = DataPackage![1];
        return DataPackage;
    }

}